<section class="container">
  <section>
    <header>
      <h2>
        <button (click)="sort()">SORT</button>
      </h2>

    </header>
  </section>

  <section>

    <div *ngFor="let account of accounts" class="account">
      <button (click)="delete(account.id)">Delete</button>
      <span>{{account.id}}</span>
      <span>{{account.type}}</span>
      <b>{{account.balance}}</b>

    </div>



  </section>


  <section class="add-account">

    <div>
      <span>Account Type</span>
      <select [(ngModel)]="accountType">
        <option *ngFor="let options of accountTypeOptions" [value]="options">{{options}}</option>
      </select>
    </div>

    <div>
      <span>Balance</span>
      <input type="number" [(ngModel)]="balance">
    </div>



    <button (click)="addAccount(accountType, balance)">ADD</button>
  </section>
</section>